<div class="bg-base-100 shadow-sm rounded-box w-full max-w-xl h-fit text-center my-4 mx-2 sm:mx-4 md:mx-6 lg:mx-8 p-6 sm:p-7 md:p-8">
  <h2>
    <span class="text-sm sm:text-base md:text-lg font-bold"><%= t(".sign_up") %></span>
  </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col gap-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="w-full">
      <%= f.label :name, class: "label text-sm sm:text-base md:text-lg" %>
      <%= f.text_field :name, autofocus: true, class: "input input-sm sm:input-md input-bordered w-full" %>
    </div>
    <div class="w-full">
      <%= f.label :email, class: "label text-sm sm:text-base md:text-lg" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-sm sm:input-md input-bordered w-full" %>
    </div>
    <div class="w-full">
      <%= f.label :password, class: "label text-sm sm:text-base md:text-lg" %>
      <% if @minimum_password_length %>
        <p class="text-left text-xs sm:text-sm md:text-base">
          <%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %>
        </p>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input input-sm sm:input-md input-bordered w-full" %>
    </div>
    <div class="w-full">
      <%= f.label :password_confirmation, class: "label text-sm sm:text-base md:text-lg" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-sm sm:input-md input-bordered w-full" %>
    </div>
    <div class="flex gap-2">
      <%= f.check_box :policies_agreed, class: "checkbox" %>
      <%= f.label :policies_agreed do %>
        <%= t(".policies_agreed",
                  terms_url: link_to(t("defaults.terms_of_service"), "https://kiyac.app/termsOfService/irLBMVrx7DpxxxTkrJTj", class: "link link-primary text-sm sm:text-base md:text-lg", target: "_blank", rel: "noopener"),
                  privacy_url: link_to(t("defaults.privacy_policy"), "https://kiyac.app/privacypolicy/EUhTMocT4INUTEElzvoq", class: "link link-primary text-sm sm:text-base md:text-lg", target: "_blank", rel: "noopener")).html_safe %>
      <% end %>
    </div>
    <div>
      <%= f.submit t(".sign_up"), class: "w-full btn btn-sm sm:btn-md btn-primary" %>
    </div>
  <% end %>
  <div class="mt-4 text-sm sm:text-base md:text-lg">
    <%= render "devise/shared/links" %>
  </div>
</div>
