<div class="flex flex-col p-4 gap-12 max-w-7xl w-full">
  <div class="bg-base-100 shadow-lg rounded-box p-4">
    <h2 class="text-center">
      <%= link_to user_path(@user), class: "font-bold text-lg sm:text-xl md:text-xl" do %>
        <%= @user.name %>
      <% end %>
    </h2>
  </div>
  <div>
    <h3><span class="font-bold text-lg sm:text-xl md:text-xl"><%= t("defaults.created_recipe") %></span></h3>
    <%= turbo_frame_tag "rice-balls-list" do %>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <% @created_rice_balls.each do |rice_ball| %>
          <%= render "rice_balls/rice_ball", rice_ball: rice_ball, user: rice_ball.user %>
        <% end %>
      </div>
      <div class="flex justify-center">
        <%= paginate @created_rice_balls %>
      </div>
    <% end %>
  </div>
</div>
