<aside class="">
  <ul class="menu bg-white shadow-lg rounded-box w-56 p-4 space-y-2">
    <li><%= link_to t("shared.sidebar.create_rice_ball"), "#" %></li>
    <li><%= link_to t("shared.sidebar.search_rice_ball"), "#" %></li>
    <li><%= link_to t("shared.sidebar.shef"), "#" %></li>
    <li><%= link_to t("shared.sidebar.ranking"), "#" %></li>
    <li><%= link_to t("shared.sidebar.my_page"), "#" %></li>
  </ul>
</aside>
