<aside class="">
  <ul class="menu bg-white shadow-lg rounded-box w-56 p-4 space-y-2">
    <li><%= link_to "おにぎりを作る", "#" %></li>
    <li><%= link_to "おにぎりを探す", "#" %></li>
    <li><%= link_to "シェフ", "#" %></li>
    <li><%= link_to "ランキング", "#" %></li>
    <li><%= link_to "マイページ", "#" %></li>
  </ul>
</aside>
