<aside class="mx-4">
  <ul class="menu bg-white shadow-lg rounded-box w-full p-4 space-y-2">
    <li><%= link_to t("shared.sidebar.create_rice_ball"), new_rice_ball_path %></li>
    <li><%= link_to t("shared.sidebar.search_rice_ball"), rice_balls_path %></li>
    <li><%= link_to t("shared.sidebar.shef"), "#" %></li>
    <li><%= link_to t("shared.sidebar.ranking"), "#" %></li>
    <% if user_signed_in? %>
      <li>
          <%= link_to t("shared.sidebar.my_page"), user_path(current_user) %>
      </li>
    <% end %>
  </ul>
</aside>
