<div class="card w-80 bg-base-100 shadow-xl hover:border-primary hover:border">
  <%= link_to "", rice_ball_path(rice_ball), class: "absolute top-0 left-0 right-0 bottom-0" %>
  <figure>
    <% if rice_ball.image.attached? %>
      <%= image_tag rice_ball.image.variant(:index), class: "w-full h-64" %>
    <% else %>
      <%= image_tag "onigiri.png", class: "w-full h-64" %>
    <% end %>
  </figure>
  <div class="card-body">
    <h2 class="card-title text-2xl font-bold"><%= rice_ball.title %></h2>
    <h2 class="card-title text-xl font-bold flex justify-end">
      <%= link_to user_path(rice_ball.user), class: "z-10" do %>
        <%= t("defaults.created_by") %> <%= rice_ball.user.name %>
      <% end %>
    </h2>
  </div>
  <div class="flex justify-end p-2">
    <%= render "shared/bookmark_btn", rice_ball: %>
  </div>
</div>
