<div class="card bg-base-100 shadow-sm hover:border-primary hover:border overflow-hidden">
  <%= link_to "", rice_ball_path(rice_ball), data: { turbo_frame: "_top" }, class: "absolute top-0 left-0 right-0 bottom-0" %>
  <figure>
    <% if rice_ball.image.attached? %>
      <%= image_tag rice_ball.image.variant(:index), class: "w-full h-40 object-cover" %>
    <% else %>
      <%= image_tag "onigiri.png", class: "w-full h-40 object-cover" %>
    <% end %>
  </figure>
  <div class="flex flex-col p-2">
    <h2 class="truncate">
      <span class=" text-base sm:text-lg font-bold">
        <%= rice_ball.title %>
      </span>
    </h2>
    <div class="text-right truncate">
      <%= link_to user_path(user), data: { turbo_frame: "_top" }, class: "relative z-10 link text-base sm:text-lg font-bold" do %>
        <%= t("defaults.created_by") %> <%= user.name %>
      <% end %>
    </div>
    <div class="self-end z-10">
      <%= render "shared/bookmark_btn", rice_ball:, size: "index" %>
      <%= render "shared/x_share_btn", rice_ball:, size: "index" %>
    </div>
  </div>
</div>
