<div class="flex flex-col max-w-7xl w-full gap-4 m-4">
  <%= search_form_for @q, class: "self-center", html: { data: { turbo_frame: "rice-balls-list" } } do |f| %>
    <label class="input input-bordered p-2 flex items-center">
      <%= f.search_field :title_or_ingredients_name_cont, placeholder: "Search" %>
      <i class="fa-solid fa-magnifying-glass"></i>
    </label>
  <% end %>
  <%= turbo_frame_tag "rice-balls-list" do %>
    <div class="gap-4 p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <% @rice_balls.each do |rice_ball| %>
        <%= render "rice_ball", rice_ball: rice_ball, user: rice_ball.user %>
      <% end %>
    </div>
    <div>
      <%= paginate @rice_balls %>
    </div>
  <% end %>
</div>
