<div class="flex flex-col w-full items-center">
  <%= search_form_for @q, class: "sticky top-[72px] md:top-[80px] lg:top-[88px] z-20 m-2 md:m-4 w-full max-w-2xl",
    html: {
      data: {
        turbo_frame: "rice-balls-list",
        controller: "search",
        action: "input->search#submit"
        } } do |f| %>
    <label class="input input-bordered rounded-box flex items-center gap-2">
      <%= f.search_field :title_or_ingredients_name_cont, placeholder: "Search", class: "grow" %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70">
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"></path>
      </svg>
    </label>
  <% end %>
  <%= turbo_frame_tag "rice-balls-list", class: "w-full" do %>
    <div class="mx-2 gap-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <% @rice_balls.each do |rice_ball| %>
        <%= render "rice_ball", rice_ball: rice_ball, user: rice_ball.user %>
      <% end %>
    </div>
    <div>
      <%= paginate @rice_balls %>
    </div>
  <% end %>
</div>
