<div class="bg-base-100 shadow-sm rounded-box w-full max-w-xl h-fit text-center my-4 mx-2 sm:mx-4 md:mx-6 lg:mx-8 p-6 sm:p-7 md:p-8">
  <h2>
    <span class="text-sm sm:text-base md:text-lg font-bold"><%= t(".sign_in") %></span>
  </h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-6" }) do |f| %>
    <div class="w-full">
      <%= f.label :email, class: "label text-sm sm:text-base md:text-lg" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-sm sm:input-md input-bordered w-full" %>
    </div>
    <div class="w-full">
      <%= f.label :password, class: "label text-sm sm:text-base md:text-lg" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input input-sm sm:input-md input-bordered w-full" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="flex gap-2">
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :remember_me, class: "text-sm sm:text-base md:text-lg" %>
      </div>
    <% end %>
    <div>
      <%= f.submit t(".sign_in"), class: "w-full btn btn-sm sm:btn-md btn-primary" %>
    </div>
  <% end %>
  <div class="mt-4 text-sm sm:text-base md:text-lg">
    <%= render "devise/shared/links" %>
  </div>
</div>
